version: '3.8' 
 
services: 
 
  auth-db: 
    image: postgres:13 
    environment: 
      POSTGRES_DB: auth_db 
      POSTGRES_USER: admin 
      POSTGRES_PASSWORD: password 
    ports:
      - "5433:5432"
    volumes: 
      - auth_data:/var/lib/postgresql/data 
 
  gym-db: 
    image: postgres:13 
    environment: 
      POSTGRES_DB: gym_db 
      POSTGRES_USER: admin 
      POSTGRES_PASSWORD: password 
    ports:
      - "5434:5432"
    volumes: 
      - gym_data:/var/lib/postgresql/data 
 
  training-db: 
    image: mongo:5 
    environment: 
      MONGO_INITDB_ROOT_USERNAME: admin 
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes: 
      - training_data:/data/db 
 
  auth-service: 
    build: ./auth-service 
    ports: 
      - "3001:3001" 
    depends_on: 
      - auth-db 
    environment:
      DB_HOST: auth-db
      DB_PORT: 5432
      DB_USER: admin
      DB_PASSWORD: password
      DB_NAME: auth_db
 
  gym-service: 
    build: ./gym-service 
    ports: 
      - "3002:3002" 
    depends_on: 
      - gym-db 
 
  training-service: 
    build: ./training-service 
    ports: 
      - "5000:5000" 
    depends_on: 
      - training-db 
 
  api-gateway: 
    build: ./api-gateway 
    ports: 
      - "3000:3000" 
    depends_on: 
      - auth-service 
      - gym-service 
      - training-service 
    environment:
      AUTH_URL: http://auth-service:3001
      GYM_URL: http://gym-service:3002
      TRAINING_URL: http://training-service:5000
 
  frontend: 
    build: ./frontend 
    ports: 
      - "8080:80" 
    command: ["sh", "-c", "printf '\\033[1;36mSmartGym frontend -> http://localhost:8080\\033[0m\\n' && nginx -g 'daemon off;'"]

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: smartgym-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@smartgym.com
      PGADMIN_DEFAULT_PASSWORD: admin1234
    ports:
      - "5050:80"
    depends_on:
      - auth-db
      - gym-db
 
volumes: 
  auth_data: 
  gym_data: 
  training_data: 
